
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dark-2{
    color: #474747;
}

.colori{
    color: #FD6E0A;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
   
}

.btn-primary{
   background-color: #FD6E0A; 
   font-weight: bold;
   color: #FFFFFF;
   padding: 18px 35px;
   border:none;
   border-radius: 5px;
}

.nav-title{
    font: weight 800px;
    font-size: 45px;
    margin: 0 35px 0 200px;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
}
/*header*/

.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

/*banner style*/
.banner{
    display:flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content{
    max-width: 585px;;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
}

.banner-profile-pic{
    width: 584px;
    height: 676px;
}

/* main*/
.section-title{
    font-weight: bold;
    font-size: 35px;
    color:#181818;
}
.section-description{
    font-size: 18;
    color:#757575;
}

/*Secondary background*/
.secondary-bg{
    background-color: #FFF8F3;
}

/*about*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

/* main styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
  
}

.about-items{
    display: flex;
    justify-content: space-around;

    
}
.item-description{
    font-weight: bold;
}
/* third portion*/
.text-center{
    text-align: center;
}

.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    margin-top: 50px;
    margin-bottom: 130px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/*resume*/
.resume-container{
    display: flex;
    gap: 24px;
    margin-bottom: 50px;
}
.resume-description{
    color: #757575;
    font-size: 16px;
}
.resume-title{
    font-weight: bold;
    font-size: 35px;
}
.resume hr{
    margin:30px;
}
.resume-download

{
    margin-top: 50px;
}

/* footer style */
.footer-column{
    padding: 130px 230px;
    gap: 50px;
}

.footer-bg{
    background-color:#FFF8F3 ;
    display: flex;
}
footer{
    margin-top: 50px;
}

footer input[type="text"]{
    height:64px;
    border-radius: 5px;
    background-color: white;
}
